body{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
.main{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.sub{
    font-size: 50px;
    font-weight:bolder;
    color: rgb(65, 65, 255);
    background-color: rgb(186, 185, 185);
    width: 1245px;
    margin: 10px;
    text-align: center;
    text-decoration-line: underline; text-decoration-thickness: 8px; text-decoration-color: rgb(255, 67, 67);
}
.p{
    padding: 30px;
    background-color: rgb(186, 185, 185);
    display: grid;
    grid-template-columns: 75px 55px 55px 25px repeat(16,55px);
    grid-template-rows: repeat(8, 55px) 25px 55px 55px;
    gap: 5px;
}
input[type='button']{
    border: 0;
    font-size:xx-large;
    font-weight: bold;
}
input[type='text']{
    font-size: large;
    font-weight: bold;
}
.output{
    background-color: rgb(186, 185, 185);
    height: 100px;
    width: 1245px;
    margin: 7px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    column-gap: 300px;
}

input[type='text']{
    border-radius: 5px;
}
.wt{
    color: white;
    font-size:x-large;
    font-weight: bolder;
    margin: 3px;
}
.SM{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    grid-column: 1/4;
    grid-row: 9/13;
    background-color: rgb(255, 255, 255);
    border-radius: 4px;
    box-shadow: 2px 2px;
}
.SM_ct{
    margin: 3px;
    display: flex;
    flex-direction: column;
    text-decoration-color: rgb(255, 211, 255);  /*란티넘족*/
    text-decoration-color: rgb(255, 166, 255);  /*악티늄족*/
    text-decoration-color: red;                 /*알칼리 금속*/
    text-decoration-color: yellow;              /*반응성비금속*/ 
    text-decoration-color: rgb(255, 193, 79);   /*알칼리 토금속*/
    text-decoration-color: rgb(255, 191, 164);  /*전이금속*/
    text-decoration-color: rgb(155, 254, 254);  /*비활성기체*/
    text-decoration-color: rgb(202, 255, 97);   /*반응성 비금속*/
    text-decoration-color: rgb(149, 223, 0);    /*준금속*/
    text-decoration-color: rgb(134, 210, 212);  /*전이후금속*/
    font-size:15px;
    height: 145px;
    flex-wrap: wrap;
}
#a1{text-decoration-line: underline; text-decoration-thickness: 3px; text-decoration-thickness: 3px; text-decoration-color: red; font-weight: bolder; font-family: Impact, Charcoal, sans-serif;/*알칼리 금속*/}
#a2{text-decoration-line: underline; text-decoration-thickness: 3px; text-decoration-color: rgb(255, 193, 79);  font-weight: bolder; font-family: Impact, Charcoal, sans-serif;/*알칼리 토금속*/}
#a3{text-decoration-line: underline; text-decoration-thickness: 3px; text-decoration-color: rgb(255, 211, 255); font-weight: bolder; font-family: Impact, Charcoal, sans-serif;/*란티넘족*/}
#a4{text-decoration-line: underline; text-decoration-thickness: 3px; text-decoration-color: rgb(255, 166, 255); font-weight: bolder; font-family: Impact, Charcoal, sans-serif;}
#a5{text-decoration-line: underline; text-decoration-thickness: 3px; text-decoration-color: rgb(255, 191, 164); font-weight: bolder; font-family: Impact, Charcoal, sans-serif;}
#a6{text-decoration-line: underline; text-decoration-thickness: 3px; text-decoration-color: rgb(134, 210, 212); font-weight: bolder; font-family: Impact, Charcoal, sans-serif;/*전이후금속*/}
#a7{text-decoration-line: underline; text-decoration-thickness: 3px; text-decoration-color: rgb(149, 223, 0);  font-weight: bolder;  font-family: Impact, Charcoal, sans-serif;/*준금속*/}
#a8{text-decoration-line: underline; text-decoration-thickness: 3px; text-decoration-color: rgb(202, 255, 97);  font-weight: bolder; font-family: Impact, Charcoal, sans-serif;/*반응성 비금속*/}
#a9{text-decoration-line: underline; text-decoration-thickness: 3px; text-decoration-color: rgb(155, 254, 254); font-weight: bolder; font-family: Impact, Charcoal, sans-serif;/*비활성기체*/}
#a10{text-decoration-line: underline; text-decoration-thickness: 3px; text-decoration-color: rgb(215, 215, 215); font-weight: bolder; font-family: Impact, Charcoal, sans-serif;/*특성불명*/}
.bk{
    background-color: transparent;
}
.bk_nb{
    background-color: transparent;
    color: white;
}
#num{
    font-size: xx-large;
    font-weight: bold;
}
#Ln{
    color: rgb(255, 211, 255);
}
.Ln{
    background-color: rgb(255, 211, 255);
}
.Ln:hover{
    box-shadow: 1px 1px 3px #333;
    color: white;
}
#An{
    color: rgb(255, 166, 255);
}
.An{
    background-color: rgb(255, 166, 255);
}
.An:hover{
    box-shadow: 1px 1px 3px #333;
    color: white;
}
.SP{
    background-color: yellow;
}
.SP:hover{
    box-shadow: 1px 1px 3px #333;
    color: white;
}
.AKG{
    background-color: red;
}
.AKG:hover{
    box-shadow: 1px 1px 3px #333;
    color: white;
}
.AKGT{
    background-color: rgb(255, 193, 79);
}
.AKGT:hover{
    box-shadow: 1px 1px 3px #333;
    color: white;
}
.JK{
    background-color: rgb(255, 191, 164);
}
.JK:hover{
    box-shadow: 1px 1px 3px #333;
    color: white;
}
.BG{
    background-color: rgb(155, 254, 254);
}
.BG:hover{
    box-shadow: 1px 1px 3px #333;
    color: white;
}
.BBG{
    background-color: rgb(202, 255, 97);
}
.BBG:hover{
    box-shadow: 1px 1px 3px #333;
    color: white;
}
.Jks{
    background-color: rgb(149, 223, 0);
}
.Jks:hover{
    box-shadow: 1px 1px 3px #333;
    color: white;
}
.JEK{
    background-color:rgb(134, 210, 212);
}
.JEK:hover{
    box-shadow: 1px 1px 3px #333;
    color: white;
}
.TB{
    background-color: rgb(215, 215, 215);
}
.TB:hover{
    box-shadow: 1px 1px 3px #333;
    color: white;
}
.bkok{
    background-color: white;
}
.bkok:hover{
    box-shadow: 1px 1px 3px #333;
}